.product-container {
    width: 100%;
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*display: flex;
    justify-content: center;
    padding: 20px;*/
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    background-color: #fff;
    /*max-width: 600px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/

    .product-image {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .product-title {
        margin-bottom: 1rem;
    }

    .product-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;

        .quantity-control {
            display: flex;
            align-items: center;

            button {
                margin: 0 0.5rem;
            }
        }
    }

    .product-size,
    .product-color,
    .product-description {
        width: 100%;
        margin-bottom: 1rem;
        text-align: left;

        .color-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 10px;
            border: 1px solid #ccc;
        }
    }

    .btn-add-cart {
        background-color: black;
        color: white;
        border-radius: 15px;
        padding: 0.5rem 2rem;
        margin-top: 1rem;
    }

    .btn-secondary {
        margin-top: 1rem;
    }
}

@media (max-width: 576px) {
    .product-container {
        width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .product-container {
        width: 75%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .product-container {
        width: 60%;
    }
}

@media (min-width: 993px) {
    .product-container {
        width: 50%;
    }
}
