@charset "UTF-8";
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 80vw;
  padding: 2rem;
  margin: 2rem auto;
  background-color: #f9f9f9;
}

.product-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.product-filter img {
  cursor: pointer;
}

.filter-options,
.sorting-options {
  margin-bottom: 1rem;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.filter-options .filter-section,
.sorting-options .filter-section {
  margin-bottom: 1rem;
}
.filter-options .filter-section h4,
.sorting-options .filter-section h4 {
  margin-bottom: 0.5rem;
}
.filter-options .filter-section .size-options,
.filter-options .filter-section .color-options,
.sorting-options .filter-section .size-options,
.sorting-options .filter-section .color-options {
  display: flex;
  gap: 0.5rem;
}
.filter-options .btn-apply-filters,
.filter-options .btn-sort,
.sorting-options .btn-apply-filters,
.sorting-options .btn-sort {
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.product-list-container {
  display: grid;
  gap: 1rem;
  background-color: #f1f1f1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  transition: transform 0.2s;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.product-item .image-container {
  max-width: 100%;
  max-height: auto;
}
.product-item:hover {
  transform: scale(1.02);
}
.product-item img {
  max-width: 100%;
  height: auto;
}

.product-info {
  text-align: center;
}

.btn-secondary-return {
  margin-top: 1rem;
  border: 2px solid #ccc;
  background-color: white;
  color: black;
  padding: 0.5rem 2rem;
  cursor: pointer;
  text-align: center;
}

.filter-price-range {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90%;
}
.filter-price-range input[type=range] {
  flex: 1;
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.filter-price-range p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

/* Media queries för olika skärmstorlekar enligt Bootstrap */
@media (max-width: 575.98px) {
  .main-container {
    max-width: 100vw;
  }
  .product-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .main-container {
    max-width: 100vw;
  }
  .product-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .product-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .product-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1400px) {
  .product-list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
