@charset "UTF-8";
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 1200px;
  padding: 2rem;
  margin: 2rem auto;
  border: 1px solid blue;
  background-color: #f9f9f9;
}

.product-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border: 1px solid red;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  border: 1px solid black;
  background-color: #f1f1f1;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid green;
  background-color: #ffffff;
  transition: transform 0.2s;
}
.product-item .image-container {
  max-width: 100%;
  max-height: 60%;
  border: 1px solid green;
}
.product-item:hover {
  transform: scale(1.05);
}
.product-item img {
  max-width: 100%;
  height: auto;
}

/* Media queries för olika skärmstorlekar enligt Bootstrap */
@media (max-width: 575.98px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1400px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
